h1
{ font-family: "Anton", sans-serif;
  color: #ff6666;
  font-size: 160px; 
}

h2{
  font-family: "Liu Jian Mao Cao", cursive;
  text-align: center;
  color: #000000;
  background-color: #white;
  font-size: 30px;
}
img {
  item-align: center;  
}
center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
span {
  font-family: Caveat;
}
.big {
    font-size: 40px;
    font-weight: bold;
}
.body {
font-size:30px;

}
#todo-list-item {
 width: 300px;
  color: #003333;
  border-style: ridge;
  border-radius: 7px;
  text-align: center;
}
::placeholder {
  color: #ff6666;
 
} 
#submit {
   border-color: #ffffff;
  border-width: 2px;
  color:#ff6666;
  border-style: ridge;
  border-radius: 7px;
  margin-left: 8px;
  background-color: #white;
  text-align: center;
  
}

.completed {
  text-decoration:line-through;
}
.remove {
  float:right;
  cursor:pointer;
}


